/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

/* Variables */
$font-1: "Montserrat", sans-serif;
$color-1: #0a0252;
$color-2: #78c0e0;
$color-txt: #fff;

/* gradiant
background: rgb(118,27,143);
background: linear-gradient(90deg, rgba(118,27,143,1) 0%, rgba(103,142,181,1) 50%, rgba(168,171,134,1) 100%); */

/* GENERAL SIZE */
body {
  margin: 0;
  font-family: $font-1;
}

a {
  text-decoration: none;
  color: $color-txt;
}
.header {
  display: flex;
  justify-content: space-between;
  background: $color-1;
  &__logo {
    width: 300px;
    min-width: 300px;
  }
  &__logo img {
    width: 100%;
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    &--btn {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
