/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

/* Variables */
$font-1: "Montserrat", sans-serif;
$color-1: #0a0252;
$color-2: #78c0e0;
$color-3: #d0efb1;
$color-4: #ffb7c3;
$color-5: #13125e;
$color-6: #abb8a2;
$color-7: #8146ab;
$color-8: #f0f5ff;
$color-txt: #fff;

// MAPS
@mixin btn-hover {
  font-weight: bold;
  transform: scale(1.05);
  background: lighten($color-1, 5);
}
@mixin btn-active {
  background: darken($color-1, 5);
}

/* KEYFRAMES */
@keyframes btn-hover {
  100% {
    @include btn-hover();
  }
}
@keyframes anim {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  5% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  8% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  16% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  22% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// ----------------------------------------------------
//                    GENERAL SIZE
// ----------------------------------------------------
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: $font-1;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-txt;
}
li {
  list-style: none;
}

// ----------------------------------------------------
//                    EN TETE
// ----------------------------------------------------
#target {
  position: absolute;
  top: 55vh;
  left: 35%;
  width: auto;
  margin: 0 auto;
  color: $color-txt;
  font-size: 6rem;
  text-align: left;
  text-shadow: 1px 3px 2px black;
  opacity: 0.9;
  @media screen and (max-width: 1024px) {
    top: 25vh;
    left: 35%;
    font-size: 4rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: -10px;
    width: 5px;
    height: 6rem;
    background: $color-txt;
    text-shadow: 1px 3px 2px black;
    transform: translateY(-4px);
    animation: anim 0.8s linear infinite;
    @media screen and (max-width: 1024px) {
      height: 4rem;
    }
  }
}
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../public/img/alexander-popov-JhYnL-BiP18-unsplash.jpg")
    fixed center/cover;
  overflow: hidden;
  box-shadow: 0px 0px 20px 0px #000;
  @media screen and (max-width: 1024px) {
    height: 40vh;
    background: url("../../public/img/alexander-popov-JhYnL-BiP18-unsplash.jpg")
      center/cover;
  }
  &__title {
    position: absolute;
    top: 40vh;
    width: 100%;
    margin: 0 auto;
    color: $color-txt;
    font-size: 6rem;
    text-align: center;
    text-shadow: 1px 3px 2px black;
    opacity: 0.9;
    @media screen and (max-width: 1024px) {
      top: 15vh;
      font-size: 4rem;
    }
  }
  &__bar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background: $color-1;
    opacity: 0;
    animation: anim-menu 3000ms ease-in-out both;
    transition: 3000ms;
    @media screen and (max-width: 1024px) {
      height: 5vh;
    }
    &--logo {
      width: 150px;
      @media screen and (max-width: 1024px) {
        width: 25%;
      }
    }
    &--logo img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    &--menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 500px;
      @media screen and (max-width: 1024px) {
        width: 75%;
      }
      &--btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 30px;
        padding: 10px;
        font-size: 1.2rem;
        @media screen and (max-width: 1024px) {
          width: 30%;
          font-size: 1.4rem;
        }
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  &__home {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
    padding: 16px;
    border: 1px solid $color-txt;
    border-radius: 50%;
    font-size: 1.5rem;
    background: $color-1;
    color: $color-txt;
    opacity: 0;
    transition: 500ms ease-in-out;
  }
}

// ----------------------------------------------------
//                  PRESENTATION
// ----------------------------------------------------

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background: $color-8;
  @media screen and (max-width: 1024px) {
    height: auto;
    padding: 50px 0;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 60vh;
    padding: 20px;
    @media screen and (max-width: 1024px) {
      height: auto;
    }
    &__pic {
      width: 40%;
      max-width: 600px;
      margin-right: 3%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;
      box-shadow: 3px 3px 20px 0px #000000;
      @media screen and (max-width: 1024px) {
        width: 50%;
        height: 400px;
        margin-bottom: 50px;
      }
    }
    &__txt {
      width: 560px;
      padding: 10px;
      text-align: center;
      color: $color-1;
      border-radius: 75px;
      box-shadow: 3px 3px 8px 0px #0a0252;
      @media screen and (max-width: 1024px) {
        width: 96%;
        height: auto;
      }
      &--name {
        margin: 0;
        font-size: 3rem;
      }
      &--job {
        margin: 0;
        font-size: 2.5rem;
      }
      &--description {
        max-width: 500px;
        min-width: 415px;
        margin: 0 auto;
        padding: 10px 0px;
        font-size: 1rem;
        text-align: justify;
        letter-spacing: 1px;
        @media screen and (max-width: 1024px) {
          max-width: 90%;
          font-size: 1.8rem;
        }
        &::before {
          content: "\275D  ";
        }
        &::after {
          content: "  \275E";
        }
      }
      &--btn {
        width: 160px;
        display: block;
        margin: 20px auto;
        padding: 10px 15px;
        font-size: 1.2rem;
        background: $color-1;
        color: $color-txt;
        border-style: none;
        border-radius: 10px;
        animation: heartbeat 3s ease-in-out infinite both;
        cursor: pointer;
        transition: 300ms ease-in-out;
        @media screen and (max-width: 1024px) {
          padding: 20px;
          font-size: 1.4rem;
        }
        &:hover {
          animation: btn-hover 300ms ease-in-out both;
        }
        &:active {
          @include btn-active();
        }
      }
    }
  }
}

// ----------------------------------------------------
//                    TRANSITIONS
// ----------------------------------------------------

.transition {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../public/img/pexels-oleg-gurin-3695476.jpg") fixed
    center/cover;
  box-shadow: 0px 0px 20px 0px #000;
  @media screen and (max-width: 1024px) {
    background: url("../../public/img/pexels-oleg-gurin-3695476.jpg")
      center/cover;
  }
  &__title {
    margin: 0;
    color: $color-txt;
    font-size: 6rem;
    text-shadow: 6px 6px 7px #000;
  }
}
#transition__title {
  &--1 {
    position: absolute;
    top: 15vh;
    left: 100px;
    transform: translateX(-500px);
    transition: 500ms ease-in-out;
  }
  &--2 {
    position: absolute;
    top: 40vh;
    right: 100px;
    transform: translateX(500px);
    transition: 500ms ease-in-out;
  }
  &--3 {
    position: absolute;
    bottom: 15vh;
    left: 100px;
    transform: translateX(-500px);
    transition: 500ms ease-in-out;
  }
}

// ----------------------------------------------------
//                     PRESTATIONS
// ----------------------------------------------------

.prest {
  height: 100vh;
  padding: 50px 0;
  overflow: hidden;
  background: $color-8;
  color: $color-1;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
  &__title {
    width: 395px;
    height: 40px;
    margin: 40px auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    @media screen and (max-width: 1024px) {
      width: 700px;
      font-size: 4rem;
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    &__thumb {
      width: 350px;
      height: auto;
      margin: 20px;
      padding: 10px;
      color: $color-1;
      text-align: center;
      border-radius: 75px;
      box-shadow: 3px 3px 8px 0px #0a0252;
      transition: 300ms;
      @media screen and (max-width: 1200px) {
        width: 30%;
        margin: 10px;
      }
      @media screen and (max-width: 1024px) {
        width: 90%;
        margin: 30px;
      }
      &--title {
        height: 40px;
        margin: 10px;
        font-size: 1.7rem;
        text-align: center;
        @media screen and (max-width: 1024px) {
          height: auto;
          margin: 20px;
          font-size: 2.5rem;
        }
      }
      &--pic {
        object-fit: cover;
        width: 80%;
        height: 200px;
        margin: 0px auto;
        border-radius: 15px;
        @media screen and (max-width: 1024px) {
          height: 300px;
        }
      }
      &--txt {
        width: 80%;
        height: 270px;
        margin: 20px auto;
        font-size: 1rem;
        overflow: hidden;
        letter-spacing: 1px;
        text-align: justify;
        text-overflow: ellipsis;
        @media screen and (max-width: 1024px) {
          height: auto;
          font-size: 1.8rem;
        }
      }
      &--btn {
        display: block;
        width: 150px;
        margin: 15px auto;
        padding: 15px;
        background: $color-1;
        color: $color-txt;
        border-style: none;
        border-radius: 10px;
        animation: heartbeat 3s ease-in-out infinite both;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          width: 250px;
          height: 70px;
          font-size: 1.8rem;
        }
        &:hover {
          animation: btn-hover 300ms ease-in-out both;
        }
        &:active {
          @include btn-active();
        }
      }
    }
  }
}

// ----------------------------------------------------
//                     CONTACT
// ----------------------------------------------------

.contact {
  //-------background body
  &__bg {
    background: url("../../public/contact/img/pexels-hendrik-b-744318.jpg")
      center/cover;
  }
  &__header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    &__bar {
      display: flex;
      justify-content: space-between;
      height: 90px;
      background: $color-1;
      @media screen and (max-width: 1024px) {
        height: 5vh;
      }
      &--logo {
        width: 150px;
        @media screen and (max-width: 1024px) {
          width: 25%;
        }
      }
      &--logo img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      &--menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 500px;
        @media screen and (max-width: 1024px) {
          width: 75%;
        }
        &--btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 30px;
          padding: 10px;
          font-size: 1.2rem;
          @media screen and (max-width: 1024px) {
            width: 30%;
            font-size: 1rem;
          }
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    &__home {
      position: fixed;
      bottom: 50px;
      right: 50px;
      z-index: 10;
      padding: 16px;
      border: 1px solid $color-txt;
      border-radius: 50%;
      font-size: 1.5rem;
      background: $color-1;
      color: $color-txt;
      opacity: 0;
      transition: 500ms ease-in-out;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
        padding: 10px;
      }
    }
  }
  // ------------------------- BLOC CONTACT
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 55px auto;
    &__thumb {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      width: 220px;
      height: 100px;
      background: #f0f5ff;
      color: #0a0252;
      text-align: center;
      border-radius: 30px;
      @media screen and (max-width: 1024px) {
        align-content: space-around;
        width: 295px;
        height: 150px;
        margin: 40px;
      }
      &--logo {
        height: 40px;
        width: 100%;
        margin-top: 10px;
        font-size: 2rem;
      }
      &--type {
        align-items: center;
        height: 20px;
        width: 100%;
        margin: 0px;
        font-size: 1rem;
        @media screen and (max-width: 1024px) {
          font-size: 1.5rem;
        }
      }
      &--link {
        align-items: center;
        height: 20px;
        margin: 0px;
        font-size: 1rem;
        @media screen and (max-width: 1024px) {
          font-size: 1.5rem;
          margin-bottom: 30px;
        }
      }
      &--txt {
        padding: 20px;
        font-size: 0.7rem;
        align-items: center;
        &::before {
          content: "\275D  ";
        }
        &::after {
          content: "  \275E";
        }
      }
    }
  }
  //----------------- FOOTER
  &__foot {
    height: auto;
    background: $color-1;
    color: $color-txt;
    @media screen and (max-width: 1024px) {
      height: auto;
    }
    &__txt {
      margin: 0 auto;
      padding: 7px;
      text-align: center;
      & a:hover {
        text-decoration: underline;
      }
    }
  }
}

// ----------------------------------------------------
//                  BTN MENU ACTIVE
// ----------------------------------------------------
#active {
  font-weight: bold;
}

// ----------------------------------------------------
//                      FORMULAIRE
// ----------------------------------------------------

.lastName {
  grid-area: lastName;
}
.firstName {
  grid-area: firstName;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.date {
  grid-area: date;
}
.lieu {
  grid-area: lieu;
}
.presta {
  grid-area: presta;
}
.guest {
  grid-area: guest;
}
.txt {
  grid-area: txt;
}
.btn {
  grid-area: btn;
}
.form {
  position: relative;
  width: 700px;
  height: 60vh;
  margin: 55px auto;
  padding: 15px 20px 15px 20px;
  background: $color-8;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  color: $color-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "lastName firstName"
    "email phone"
    "date lieu"
    "presta guest"
    "txt txt"
    "btn btn";
  @media screen and (max-width: 1024px) {
    width: 90%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr) 2fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
      "lastName"
      "firstName"
      "email"
      "date"
      "lieu"
      "phone"
      "presta"
      "guest"
      "txt"
      "btn";
  }
  &__name {
    letter-spacing: 1px;
  }
  &__input {
    width: 95%;
    height: 30px;
    margin-top: 5px;
    background: $color-txt;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 1rem;
    &[type="range"] {
      appearance: none;
      height: 17px;
      margin: 10px auto;
      &::-webkit-slider-thumb {
        appearance: none;
        width: 14px;
        height: 30px;
        background: $color-1;
        border-radius: 10px;
        cursor: grab;
        opacity: 0.9;
        &:active {
          cursor: grabbing;
        }
      }
    }
  }
  &__txt > textarea {
    resize: none;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 1rem;
  }
  &__txt__error {
    color: red;
    font-size: 0.7rem;
  }
  &__btn {
    width: auto;
    margin: 40px auto 0px;
    padding: 10px;
    background: $color-1;
    color: $color-txt;
    border-style: none;
    border-radius: 10px;
    &:hover {
      @include btn-hover;
    }
    &:active {
      @include btn-active();
    }
  }
}
#numberOfGuests {
  position: absolute;
  top: 240px;
  left: 553px;
  width: 50px;
  background: transparent;
  border: none;
  color: #0a0252;
  font-size: 1.1rem;
  @media screen and (max-width: 1024px) {
    top: 684px;
    left: 190px;
    width: 50px;
  }
}

// ----------------------------------------------------
//                      FOOTER
// ----------------------------------------------------
.foot {
  height: 5vh;
  background: $color-1;
  color: $color-txt;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
  &__txt {
    margin: 0 auto;
    padding: 14px;
    text-align: center;
    & a:hover {
      text-decoration: underline;
    }
  }
}

// ----------------------------------------------------
//                    PAGE PRESTATIONS
// ----------------------------------------------------
.prestation {
  &__header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
      height: auto;
    }
    &__bar {
      display: flex;
      justify-content: space-between;
      height: 90px;
      background: $color-1;
      @media screen and (max-width: 1024px) {
        height: 5vh;
      }
      &--logo {
        width: 150px;
        @media screen and (max-width: 1024px) {
          width: 25%;
        }
      }
      &--logo img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      &--menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 500px;
        @media screen and (max-width: 1024px) {
          width: 75%;
        }
        &--btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          height: 30px;
          padding: 10px;
          font-size: 1.2rem;
          @media screen and (max-width: 1024px) {
            width: 30%;
            font-size: 1.5rem;
          }
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    &__home {
      position: fixed;
      bottom: 50px;
      right: 50px;
      z-index: 10;
      padding: 16px;
      border: 1px solid $color-txt;
      border-radius: 50%;
      font-size: 1.5rem;
      background: $color-1;
      color: $color-txt;
      opacity: 0;
      transition: 500ms ease-in-out;
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
        padding: 10px;
      }
    }
  }
  &__foot {
    height: auto;
    background: $color-1;
    color: $color-txt;
    @media screen and (max-width: 1024px) {
      height: auto;
    }
    &__txt {
      margin: 0 auto;
      padding: 7px;
      text-align: center;
      & a:hover {
        text-decoration: underline;
      }
    }
  }
}

.main {
  &__prest {
    height: 100vh;
    padding: 50px 0;
    background: url("../../public/contact/img/pexels-hendrik-b-744318.jpg")
      center/cover;
    overflow: hidden;
    color: $color-1;
    @media screen and (max-width: 1024px) {
      height: auto;
    }
    &__title {
      width: 395px;
      height: 40px;
      margin: 40px auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 2.5rem;
      @media screen and (max-width: 1024px) {
        width: 700px;
        font-size: 4rem;
      }
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      &__thumb {
        width: 350px;
        height: auto;
        margin: 20px;
        padding: 10px;
        background: $color-8;
        color: $color-1;
        text-align: center;
        border-radius: 75px;
        box-shadow: 3px 3px 8px 0px #000;
        transition: 300ms;
        @media screen and (max-width: 1200px) {
          width: 30%;
          margin: 10px;
        }
        @media screen and (max-width: 1024px) {
          width: 90%;
          margin: 30px;
        }
        &--title {
          height: 40px;
          margin: 10px;
          font-size: 1.7rem;
          text-align: center;
          @media screen and (max-width: 1024px) {
            height: auto;
            margin: 20px;
            font-size: 2.5rem;
          }
        }
        &--pic {
          object-fit: cover;
          width: 80%;
          height: 200px;
          margin: 0px auto;
          border-radius: 15px;
          @media screen and (max-width: 1024px) {
            height: 300px;
          }
        }
        &--txt {
          width: 80%;
          height: 270px;
          margin: 20px auto;
          font-size: 1rem;
          overflow: hidden;
          letter-spacing: 1px;
          text-align: justify;
          text-overflow: ellipsis;
          @media screen and (max-width: 1024px) {
            height: auto;
            font-size: 1.5rem;
          }
        }
        &--btn {
          display: block;
          width: 150px;
          margin: 15px auto;
          padding: 15px;
          background: $color-1;
          color: $color-txt;
          border-style: none;
          border-radius: 10px;
          animation: heartbeat 3s ease-in-out infinite both;
          cursor: pointer;
          @media screen and (max-width: 1024px) {
            width: 250px;
            height: 70px;
            font-size: 1.8rem;
          }
          &:hover {
            animation: btn-hover 300ms ease-in-out both;
          }
          &:active {
            @include btn-active();
          }
        }
      }
    }
  }
}

// ----------------------------------------------------
//                        WEDDING
// ----------------------------------------------------

.wedding {
  padding: 40px 0;
  background: $color-8;
  &__title {
    width: 60%;
    margin: 50px auto;
    padding: 10px;
    background: $color-1;
    border-radius: 60px;
    text-align: center;
    color: $color-8;
    font-size: 3rem;
    @media screen and (max-width: 1024px) {
      width: 80%;
      font-size: 4rem;
    }
  }
  &__txt {
    width: 60%;
    margin: 0 auto;
    color: $color-1;
    letter-spacing: 1px;
    text-align: justify;
    @media screen and (max-width: 1024px) {
      width: 80%;
      font-size: 1.5rem;
    }
  }
  &__bloc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    &__thumb {
      width: 200px;
      height: auto;
      padding: 15px;
      transition: 400ms;
      @media screen and (max-width: 1024px) {
        width: 40%;
        margin: 30px;
      }
      &--pic {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }
      &--txt {
        color: $color-1;
        text-align: justify;
        letter-spacing: 1px;
        @media screen and (max-width: 1024px) {
          font-size: 1.8rem;
        }
      }
    }
  }
  // --------     PRESTATION DE BASE
  &__include {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    &__title {
      width: 100%;
      color: $color-1;
      text-align: center;
      font-size: 1.5rem;
      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
    }
    &__thumb {
      width: 195px;
      margin: 35px;
      padding: 15px;
      text-align: center;
      border-radius: 20px;
      box-shadow: 2px 2px 4px 1px $color-1;
      &--icon {
        padding: 10px;
        color: $color-1;
        font-size: 2rem;
      }
      &--desc {
        margin: 0;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-1;
        @media screen and (max-width: 1024px) {
          font-size: 1.2rem;
        }
      }
      &--txt {
        margin: 0;
        padding: 10px 0;
        color: $color-1;
        letter-spacing: 1px;
        text-align: justify;
        @media screen and (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }
    }
  }
  // --------  TARIF
  &__price {
    width: 90%;
    margin: 0 auto;
    &--separation {
      width: 40px;
      height: 5px;
      margin: 15px auto;
      background: $color-1;
    }
    &__thumb {
      width: 350px;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: 2px 2px 4px 1px $color-1;
      color: $color-1;
      text-align: center;
      overflow: hidden;
      @media screen and (max-width: 1024px) {
        width: 90%;
      }
      &--title {
        margin: 0;
        font-size: 2rem;
      }
      &--txt {
        margin: 0;
        font-size: 1.5rem;
      }
      &--price {
        position: relative;
        margin: 0;
        font-size: 5rem;
        font-weight: bold;
        &::after {
          content: "€  *";
          position: absolute;
          top: 15px;
          right: 35px;
          font-size: 2rem;
          @media screen and (max-width: 1024px) {
            right: 250px;
          }
        }
      }
      &--list {
        padding: 0;
        &--desc {
          position: relative;
          width: 100%;
          height: 50px;
          padding: 5px 5px 2px 60px;
          text-align: left;
          letter-spacing: 1px;
          &::before {
            content: "+";
            position: absolute;
            top: 0px;
            left: 20px;
            color: $color-1;
            font-size: 2rem;
            font-weight: bold;
            @media screen and (max-width: 1024px) {
              font-size: 3rem;
            }
          }
          @media screen and (max-width: 1024px) {
            height: 120px;
            font-size: 1.4rem;
          }
        }
      }
      &--btn {
        display: block;
        width: 160px;
        margin: 15px auto;
        padding: 15px;
        background: $color-1;
        color: $color-txt;
        border-style: none;
        border-radius: 10px;
        animation: heartbeat 3s ease-in-out infinite both;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          width: 250px;
          height: 70px;
          font-size: 1.8rem;
        }
        &:hover {
          animation: btn-hover 300ms ease-in-out both;
        }
        &:active {
          @include btn-active();
        }
      }
    }
    &__condition {
      margin-top: 40px;
      color: $color-1;
      font-size: 0.7rem;
      text-align: center;
    }
  }
}
.list-01 {
  background: darken($color-8, 2);
}
.separation {
  height: 2px;
  width: 50%;
  margin: 50px auto;
  background: $color-1;
}

// ----------------------------------------------------
//                        ENTERPRISE
// ----------------------------------------------------

.enterprise {
  padding: 40px 0;
  background: $color-8;
  &__title {
    width: 60%;
    margin: 50px auto;
    padding: 10px;
    background: $color-1;
    border-radius: 60px;
    text-align: center;
    color: $color-8;
    font-size: 3rem;
    @media screen and (max-width: 1024px) {
      width: 80%;
      font-size: 4rem;
    }
  }
  &__txt {
    width: 60%;
    margin: 0 auto;
    color: $color-1;
    letter-spacing: 1px;
    text-align: justify;
    @media screen and (max-width: 1024px) {
      width: 80%;
      font-size: 1.5rem;
    }
  }
  &__bloc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    &__thumb {
      width: 200px;
      height: auto;
      padding: 15px;
      transition: 400ms;
      @media screen and (max-width: 1024px) {
        width: 40%;
        margin: 30px;
      }
      &--pic {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }
      &--txt {
        color: $color-1;
        text-align: justify;
        letter-spacing: 1px;
        @media screen and (max-width: 1024px) {
          font-size: 1.8rem;
        }
      }
    }
  }
  // --------     PRESTATION DE BASE
  &__include {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    &__title {
      width: 100%;
      color: $color-1;
      text-align: center;
      font-size: 1.5rem;
      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
    }
    &__thumb {
      width: 195px;
      margin: 35px;
      padding: 15px;
      text-align: center;
      border-radius: 20px;
      box-shadow: 2px 2px 4px 1px $color-1;
      &--icon {
        padding: 10px;
        color: $color-1;
        font-size: 2rem;
      }
      &--desc {
        margin: 0;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-1;
        @media screen and (max-width: 1024px) {
          font-size: 1.2rem;
        }
      }
      &--txt {
        margin: 0;
        padding: 10px 0;
        color: $color-1;
        letter-spacing: 1px;
        text-align: justify;
        @media screen and (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }
    }
  }
  // --------  TARIF
  &__price {
    width: 90%;
    margin: 0 auto;
    &--separation {
      width: 40px;
      height: 5px;
      margin: 15px auto;
      background: $color-1;
    }
    &__thumb {
      width: 350px;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: 2px 2px 4px 1px $color-1;
      color: $color-1;
      text-align: center;
      overflow: hidden;
      @media screen and (max-width: 1024px) {
        width: 90%;
      }
      &--title {
        margin: 0;
        font-size: 2rem;
      }
      &--txt {
        margin: 0;
        font-size: 1.5rem;
      }
      &--price {
        position: relative;
        margin: 0;
        font-size: 5rem;
        font-weight: bold;
        &::after {
          content: "€  *";
          position: absolute;
          top: 15px;
          right: 35px;
          font-size: 2rem;
          @media screen and (max-width: 1024px) {
            right: 250px;
          }
        }
      }
      &--list {
        padding: 0;
        &--desc {
          position: relative;
          width: 100%;
          height: 50px;
          padding: 5px 5px 2px 60px;
          text-align: left;
          letter-spacing: 1px;
          &::before {
            content: "+";
            position: absolute;
            top: 0px;
            left: 20px;
            color: $color-1;
            font-size: 2rem;
            font-weight: bold;
            @media screen and (max-width: 1024px) {
              font-size: 3rem;
            }
          }
          @media screen and (max-width: 1024px) {
            height: 120px;
            font-size: 1.4rem;
          }
        }
      }
      &--btn {
        display: block;
        width: 160px;
        margin: 15px auto;
        padding: 15px;
        background: $color-1;
        color: $color-txt;
        border-style: none;
        border-radius: 10px;
        animation: heartbeat 3s ease-in-out infinite both;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          width: 250px;
          height: 70px;
          font-size: 1.8rem;
        }
        &:hover {
          animation: btn-hover 300ms ease-in-out both;
        }
        &:active {
          @include btn-active();
        }
      }
    }
    &__condition {
      margin-top: 40px;
      color: $color-1;
      font-size: 0.7rem;
      text-align: center;
    }
  }
}

// ----------------------------------------------------
//                        EVENT
// ----------------------------------------------------

.event {
  padding: 40px 0;
  background: $color-8;
  &__title {
    width: 60%;
    margin: 50px auto;
    padding: 10px;
    background: $color-1;
    border-radius: 60px;
    text-align: center;
    color: $color-8;
    font-size: 3rem;
    @media screen and (max-width: 1024px) {
      width: 80%;
      font-size: 4rem;
    }
  }
  &__txt {
    width: 60%;
    margin: 0 auto;
    color: $color-1;
    letter-spacing: 1px;
    text-align: justify;
    @media screen and (max-width: 1024px) {
      width: 80%;
      font-size: 1.5rem;
    }
  }
  &__bloc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    &__thumb {
      width: 200px;
      height: auto;
      padding: 15px;
      transition: 400ms;
      @media screen and (max-width: 1024px) {
        width: 40%;
        margin: 30px;
      }
      &--pic {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 10px;
      }
      &--txt {
        color: $color-1;
        text-align: justify;
        letter-spacing: 1px;
        @media screen and (max-width: 1024px) {
          font-size: 1.8rem;
        }
      }
    }
  }
  // --------     PRESTATION DE BASE
  &__include {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    &__title {
      width: 100%;
      color: $color-1;
      text-align: center;
      font-size: 1.5rem;
      @media screen and (max-width: 1024px) {
        font-size: 3rem;
      }
    }
    &__thumb {
      width: 195px;
      margin: 35px;
      padding: 15px;
      text-align: center;
      border-radius: 20px;
      box-shadow: 2px 2px 4px 1px $color-1;
      &--icon {
        padding: 10px;
        color: $color-1;
        font-size: 2rem;
      }
      &--desc {
        margin: 0;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-1;
        @media screen and (max-width: 1024px) {
          font-size: 1.2rem;
        }
      }
      &--txt {
        margin: 0;
        padding: 10px 0;
        color: $color-1;
        letter-spacing: 1px;
        text-align: justify;
        @media screen and (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }
    }
  }
  // --------  TARIF
  &__price {
    width: 90%;
    margin: 0 auto;
    &--separation {
      width: 40px;
      height: 5px;
      margin: 15px auto;
      background: $color-1;
    }
    &__thumb {
      width: 350px;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: 2px 2px 4px 1px $color-1;
      color: $color-1;
      text-align: center;
      overflow: hidden;
      @media screen and (max-width: 1024px) {
        width: 90%;
      }
      &--title {
        margin: 0;
        font-size: 2rem;
      }
      &--txt {
        margin: 0;
        font-size: 1.5rem;
      }
      &--price {
        position: relative;
        margin: 0;
        font-size: 5rem;
        font-weight: bold;
        &::after {
          content: "€  *";
          position: absolute;
          top: 15px;
          right: 35px;
          font-size: 2rem;
          @media screen and (max-width: 1024px) {
            right: 250px;
          }
        }
      }
      &--list {
        padding: 0;
        &--desc {
          position: relative;
          width: 100%;
          height: 50px;
          padding: 5px 5px 2px 60px;
          text-align: left;
          letter-spacing: 1px;
          &::before {
            content: "+";
            position: absolute;
            top: 0px;
            left: 20px;
            color: $color-1;
            font-size: 2rem;
            font-weight: bold;
            @media screen and (max-width: 1024px) {
              font-size: 3rem;
            }
          }
          @media screen and (max-width: 1024px) {
            height: 120px;
            font-size: 1.4rem;
          }
        }
      }
      &--btn {
        display: block;
        width: 160px;
        margin: 15px auto;
        padding: 15px;
        background: $color-1;
        color: $color-txt;
        border-style: none;
        border-radius: 10px;
        animation: heartbeat 3s ease-in-out infinite both;
        cursor: pointer;
        @media screen and (max-width: 1024px) {
          width: 250px;
          height: 70px;
          font-size: 1.8rem;
        }
        &:hover {
          animation: btn-hover 300ms ease-in-out both;
        }
        &:active {
          @include btn-active();
        }
      }
    }
    &__condition {
      margin-top: 40px;
      color: $color-1;
      font-size: 0.7rem;
      text-align: center;
    }
  }
}
