//fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');

// Variable
$blue: #0065FC;
$bluelight: #DEEBFF;
$grey: #F2F2F2;

// Mixin
@mixin border_test {
    border: 1px solid black;
}

@mixin name__pic {
    font-size: 00.8em;
    font-weight: bold;
}
@mixin price__pic {
    font-size: 0.7em;
}

@mixin star__pic {
    font-size: 0.7em;
    color: $blue;
}

@mixin name__bloc {
    font-size: 1em;
    font-weight: bold;
}

 /* Animations */

.pic__hover:hover{		/******** Style pour les images *********/
	transform: scale(1.05);
	transition: 0.2s ease-in-out;
}

body{
    font-family: raleway;
    margin: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{   
    color: $blue;
}

.btn__menu:hover{
    border-top: 3px solid $blue; 
}

.search__btn:hover{
    background-color: lighten($blue, 10%);
}
.search__btn:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

a.filter--link:hover{
    background: $blue;
    color: white;
    border: none;
    border-radius: 0px 25px;
}

.title__bloc{
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 25px;
}

/* ====== NAV ====== */

.btn__menu{
    padding-top: 17px;
    width: 200px;
}

#btn_sign_in{
    color: $blue;
}

nav{
    height: auto;
}

.navbar{
    height: auto;
    width: 96%;
    margin-left: 2%;
    &__img{
        float: left;
        left: 25px;
        width: 100px;
        padding-left: 25px;
    }
    &__menu{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        text-align: center;
        margin: 0;
        padding-inline-start: 0;
    }
    &__btn{
        font-weight: bold;
        font-size: 1em;
        height: 40px;
        width: 200px;
        padding:20px;
    }
}

/* ====== SEARCH BAR ====== */

.search__bloc{
        width: 96%;
        height: 250px;
        margin: 0 2%;
}

#search__text{
    margin-top: 0;
    margin-left: 25px;
}

.mobile{
    display: none;
}

.search{
    display: flex;
    width: 500Px;
    height: 40px;
    margin-left: 25px;
    margin-bottom: 20px;
    &__pic{
        background: $grey;
        text-align: center;
        padding-top: 10px;
        width: 50px;
        border-radius: 10px 0 0 10px;
    }
    &__area{
        width: 200px;
        border: 1px solid $grey;
        text-align: center;
        font-size: 1em;  
    }
    &__btn{
        width: 150px;
        font-size: 1em;
        padding: 0 10px;
        border: 0;
        background: $blue;
        color: white;
        border-radius: 0 10px 10px 0;
        
    }
}

/* ====== FILTER PART ====== */

.filter{
    &__choice{
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;
        padding-left: 0;
        font-weight: bold;
        font-size: 1em;
    }
    &__selection{
        padding-right: 10px;
    }
    &--link{
        border: 2px solid $grey;
        border-radius: 25px;
        padding: 10px;
        padding-left: 0px;
        
    }
    &__text{
        font-size: 1em;
        margin-left: 25px;
    }
    i{
        background: $bluelight;
        color: $blue;
        padding: 15px;
        margin-right: 10px;
        border-radius: 50%;
    }  
}

#filtre{
    padding-top: 12px;
    padding-right: 20px;
}

#logo_info{
    padding: 4px 8px;
    border: 1px solid $grey;
    border-radius: 50%;
    color: $blue;
    margin-right: 8px;
    font-size: 1em;
}

/* ====== RESULT ====== */

.bloc__result{
    width: 96%;
    height: 580px;
    margin: 10px 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.result__search{
    width: 70%;
    background: $grey;
    border-radius: 20px;
}
.result__popular{
    width: 28%;
    background: $grey;
    border-radius: 20px;
}

.selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__bloc{
        background: white;
        width: 30%;
        height: 200px;
        margin: 5px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 0px lightgrey;
        overflow: hidden;
    }
    &__pic{
        object-fit: cover;
        height: 140px;
        width: 96%;
        margin: 2% 2% 0 2%;
        border-radius: 15px 15px 0 0;
    }
    &__name{
        @include name__pic();
        margin: 1px 5px;
    }
    &__price{
        @include price__pic();
        margin: 1px 5px;
    }
    &__star{
        @include star__pic();
        margin: 1px 5px 2px 5px;
    }
}

#selection_text_end{
    font-size: 1em;
    font-weight: bold;
    padding: 25px;
}

/* POPULAR */

#logo_croissance{
    float: right;
    padding-right: 10px;
    font-size: 1.5em;
}

#popular__title{
    font-size: 00.7em;
    margin-left: 5%;
}

.popular{
    width: 90%;
    margin: 5%;
    height: 150px;
    display: flex;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 0px lightgrey;
    overflow: hidden;
    &__pic{
        object-fit: cover;
        width: 35%;
        height: 90%;
        border-radius: 10px 0 0 10px;
        margin: 2%;
    }
    &__name{
        @include name__pic();
        margin: 5px 5% 1px 5%;
    }
    &__price{
        @include price__pic();
        margin: 2px 5px;
    }
    &__star{
        @include star__pic();
        margin: 78px 10px;
    }
    
}

/* ACTIVITY */

.activity{
    display: flex;
    justify-content: space-around;
    &__bloc{
        width: 96%;
        margin: 20px 2%;

        &__medium{
        height: 400px;
        width: 35%;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 0px lightgrey;
        margin: 10px;
    }
        &__small{
        height: 400px;
        width: 35%;
        margin: 10px;
    }
    }
    &__small{
        height: 195px;
        margin: 0 10px 10px 10px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 0px lightgrey;
        overflow: hidden;
    } 
    &__medium{
        overflow: hidden;
    }
    &__pic{
        &__medium{
            object-fit: cover;
            height: 370px;
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
        &__small{
            object-fit: cover;
            height: 165px;
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
    }
    &__name{
        @include name__pic();
        margin-top: 2px;
        margin-left: 5px;
        overflow: hidden;
    }
}


/* FOOTER */

.footer{
    background: $grey;
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__bloc{
        width: 170px;
    }
    &__title{
        @include name__pic();
        margin-bottom: 12px;
    }
    &__list{
        @include price__pic();
        padding-inline-start: 0;
    }
    &__link{
        margin: 8px 0;
    }
}


/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    .title__bloc{
        font-size: 2.5em;
    }
    body{
        width: 100%;
    }
}

/* NAVBAR */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    .btn__menu:hover{
        border-top: none; 
    }

    #btn_sign_in{
        position: absolute;
        top: 15px;
        right: 10px;
        color: $blue;
        float: right;
        text-align: center;
    }

    #btn_hebergement{
        position: absolute;
        top: 96px;
        left: 10px;
        width: 48%;
        border-bottom: 2px solid $grey;
        padding-bottom: 15px;
    }
    #btn_hebergement:hover{
        border-bottom: 3px solid $blue;
    }

    #btn_activity{
        position: absolute;
        top: 96px;
        right: 10px;
        width: 48%;
        border-bottom: 2px solid $grey;
        padding-bottom: 15px;
    }
    #btn_activity:hover{
        border-bottom: 3px solid $blue;
    }
    
    .navbar{
        height: 160px;
        position: relative;
        &__img{
            float: left;
            width: 150px;
        }
        &__btn{
          font-size: 1.5em;
            
        }
    }
}

/* SEARCH */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    .screen{
        display: none;
    }
    .mobile{
        display: contents;
    }
    .search{
        width: 100%;
        height: 50px;
        margin-left: 10%;
        margin-right: 5%;
        &__bloc{
            height: auto;
        }
        &__pic{
            padding-top: 15px;
        }
        &__area{
            width: 60%;
        }
        &__btn{
            width: 50px;
            border-radius: 10px;
        }
    }
}

/* RESULT & POPULAR */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    #filtre{
        width: 100%;
        margin-bottom: 20px;
    }
    .filter__selection{
        width: 40%;
        margin: 5px;
    }
}

/* RESULT & POPULAR */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    .bloc__result{
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

/* POPULAR */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    #logo_croissance{
        font-size: 1em;
    }
    .result__popular{
        width: 100%;
        align-items: center;
        border-radius: 0;
    }
    .popular{
        height: 300px;
        border-radius: 40px;
        width: 90%;
        &__pic{
            border-radius: 35px 0 0 35px;
            margin: 1%;
            height: 95%;
            
        }
        &__left__part{
            width: 100%;
        }
        &__name{
            font-size: 1.8em;
        }
        &__price{
            font-size: 1.5em;
            margin-left: 5%;
        }
        &__star{
            font-size: 1.5em;
            margin-left: 5%;
        }
        
    }
}

/* RESULT */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    #hebergement{
        margin-top: 60px;
        padding-left: 30px;
    }
    .result__search{
        width: 100%;
        background: white;
    }
    .selection{

        &__bloc{
            width: 90%;
            height: 300px;
            margin: 20px 0;
        }
        &__pic{
            height: 160px;
            width: 98%;
            margin: 1% 1% 0 1%;
        }
        &__name{
            font-size: 1.8em;
            margin-left: 7px;
        }
        &__price{
            font-size: 1.5em;
            margin-left: 7px;
        }
        &__star{
            font-size: 1.5em;
            margin-left: 7px;
        }
    }
    #selection_text_end{
        font-size: 1.5em;
    }
}


/* ACTIVITY */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    .activity{
        display: flex;
        flex-wrap: wrap;
        &__bloc{
            &__medium{
               width: 95%; 
               height: 295px;
               margin-top: 20px;             
            }
            &__small{
                height: auto;
                width: 96%;
            }
        }
        &__small{  
            height: 295px;
            margin: 5% 0;
        }
        &__pic{
            &__medium{
                height: 250px;
            }
            &__small{
                height: 250px;
            }
        }
        &__name{
            font-size: 1.5em;
            margin-left: 20px;
        }
    }
}

/* FOOTER */
/* MEDIA QUERIES */

@media all and (max-width: 1024px){
    .footer{
        height: auto;
        &__bloc{
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        }
    }
}