@font-face {
    font-family: 'ethnocentricregular';
    src: url('font/ethnocentric_rg-webfont.woff2') format('woff2'),
         url('font/ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ethnocentricitalic';
    src: url('ethnocentric_rg_it-webfont.woff2') format('woff2'),
         url('ethnocentric_rg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'designer_blockregular';
    src: url('font/desib___-webfont.woff2') format('woff2'),
         url('font/desib___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_bold_fontbold';
    src: url('font/theboldfont-webfont.woff2') format('woff2'),
         url('font/theboldfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #f0ead2;
}

ul{
    margin: 0px;
    padding: 0;
}

li{
    list-style: none;
}

/******* HEADER ******/

/* NAVBAR */
nav{
    overflow: hidden;
    opacity: 1;
    position: fixed;
    width: 100%;
    background: #052904;
    background: -moz-linear-gradient(top, #052904 0%, #30871D 100%);
    background: -webkit-linear-gradient(top, #052904 0%, #30871D 100%);
    background: linear-gradient(to bottom, #052904 0%, #30871D 100%);
    border-radius: 20px;
    animation: nav ease 3s;
    font-family: 'designer_blockregular';
    text-shadow: 3px 3px 0px black;
}

@keyframes nav{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#logo{
    float: left;
    font-size: 1.5em;
}

nav li{
    float: right;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}

header li a{
    padding: 18px 16px;
}

/* IMAGE PRINCIPALE */

header{
    background: url(img/main_mes_projets.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    margin-top: 0;
}

h1{
    font-size: 5em;
    padding: 20vh;
    text-align: center;
    margin: 0;
    font-family: 'ethnocentricregular';
    text-transform: uppercase;
    color: #f0ead2;
    text-shadow: 4px 4px 0px black;
    animation: titre ease 3s;
    padding-bottom: 150px;
}

@keyframes titre {
    from {
        opacity: 0;
        transform: translateY(-100px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }   
}

header p {
    color: #f0ead2;
    font-size: 1.2em;
    font-family: 'designer_blockregular';
    text-shadow: 2px 2px 6px black;
    padding: 0px 20%;
    text-align: center;
}

/****** ARTICLE ******/

article{
    background: #f0ead2;
    padding: 30px 0px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article img{
    border: black 1px solid;
    
}

#text_projet_01{
    padding: 10px 10%;
    width: 40%;
    text-align: center;
}

article p {
    font-family: 'designer_blockregular';
    text-align: center;
}

article a{
    color: #30871D;
    text-decoration: underline;
}

article h2{
    font-family: 'ethnocentricregular';
}