// ----------------------------------------------------
//                    GENERAL SIZE
// ----------------------------------------------------
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: $font-1;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-txt;
}
li {
  list-style: none;
}
