/* Variables */
$font-1: "Montserrat", sans-serif;
$color-1: #0a0252;
$color-2: #78c0e0;
$color-3: #d0efb1;
$color-4: #ffb7c3;
$color-5: #13125e;
$color-6: #abb8a2;
$color-7: #8146ab;
$color-8: #f0f5ff;
$color-txt: #fff;
